body::before{
	background-image: url('/images/background.jpg');
	background-size: contain;
	background-repeat: no-repeat;
  background-position: top;
}

body{
  background-color: rgba(211,84,0,1);
}

.card-content-fix{
	display: inline !important;
	width: 98% !important;
}
